@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hủy Đơn</title>
</head>
<body style="text-align:center">
    <h2>HỦY ĐƠN THÀNH CÔNG</h2>
    <h4>Đơn hàng của bạn đã được hủy!!!</h4>    
    <a href="/ThanhToan/ListDonHang/@((int)Session["IdKH"])">Trở về</a>
</body>
</html>