@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hủy Đơn</title>
</head>
<body style="text-align:center">
    <h2>Hủy đơn hàng thất bại</h2>
    <h4>Đơn hàng của bạn đang được vận chuyển!!!</h4>
    <h5>Bạn không thể hủy đơn hàng lúc này!!!</h5>
    <a href="/ThanhToan/ListDonHang/@((int)Session["IdKH"])">Trở về</a>
</body>
</html>