@model WebSenDa.Models.ViewModel
@{
    ViewBag.Title = "LocGiaSP";
}

<link href="~/Content/Home/Home.css" rel="stylesheet" />
<div style="margin-top:100px"></div>
@using (Html.BeginForm("LocGiaSP", "SanPham"))
{
    <text>Từ</text>
    <input type="number" name="min" />
    <text>Đến</text>
    <input type="number" name="max" />
    <input type="submit" class="btn btn-info ml-5" value="Search" />

    <div class="normalItems">
        <div class="normalItemsContainer row">
            @foreach (var sp in Model.ListSanPham)
            {
                decimal giaban = sp.Kho.GiaBan;
                <div class="col-md-3 px-md-3">
                    <div class="nItem">
                        <a href="/SanPham/Details/@sp.IDSanPham"><img src="@Url.Content(sp.Hinh)" /></a>
                        <div class="nItemContent">
                            <p>@Html.DisplayFor(modle => sp.TenSanPham)</p>
                            <div class="nItemContent_span">
                                <span>@giaban vnđ</span>
                                <span>Còn: @Html.DisplayFor(modle => sp.Kho.SoLuongTon)</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

